{{#> base}}

{{#*inline "title"}}{{title}}{{/inline}}

{{#*inline "headerContent"}}
<h1>{{header}}</h1>
{{/inline}}


{{#*inline "mainContent"}}

<div class="block">
    {{#if main}}
    {{main}}
    {{else}}
    <h1 id="hello" title="Hello Word!!">Hello Word!!</h1>
    {{/if}}
</div>

{{/inline}}


{{/base}}