<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="css/styles.css">
    <title>Hello Word!!</title>
    <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
</head>

<body>
    {{!-- <h1>Hello Word</h1> --}}

    <main>
        <div class="block">
            {{#if message}}
            <h1 title="Hello Word!!">{{message}}</h1>
            {{/if}}
        </div>
    </main>

    <footer>
        <p>Created by:</p>
        <a id="criador" href="https://github.com/Marcos1701" title="acessar github">Marcos N. Santos</a>
    </footer>
</body>

</html>