body {
    margin: 0;
    padding: 0;
    background-color: #000;
}

.block {
    position: relative;
    margin: 300px auto 0;
    width: 500px;
    height: 250px;
    background: linear-gradient(0deg, #000, #272727);

    text-align: center;
    line-height: 250px;
    font-family: 'VT323', monospace;
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 5px;
    animation: shine 5s linear infinite;
}

@keyframes shine {
    0% {
        text-shadow: 0 0 8px #fff;
    }

    50% {
        text-shadow: 0 0 20px #fff;
    }

    100% {
        text-shadow: 0 0 8px #fff;
    }
}

.block:before,
.block:after {
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000, #fb0094,
            #0000ff, #00ff00, #ffff00, #ff0000);
    background-size: 400%;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -1;
    animation: steam 20s linear infinite;
}

@keyframes steam {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.block:after {
    filter: blur(50px);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    position: absolute;
    bottom: 1%;
    right: 3%;
    height: 2.5rem;

}

footer * {
    text-align: center;
    color: #fff;
    font-family: 'VT323', monospace;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

footer a {
    text-decoration: none;
    color: #cb0808;
    /*cor diferente do paragrafo para diferenciar..*/
}

footer a:hover {
    color: aqua;
    text-decoration: underline;
    cursor: pointer;
}


.block:hover #hello-world {
    display: none;
}

#ola-mundo {
    color: rgb(241, 241, 241);
    cursor: pointer;
    display: none;
}

.block:hover #ola-mundo {
    display: block;
}