<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{>title}}</title>
    {{!-- {{>headContent}} --}}
</head>

<body>
    <div class="conteiner">
        <header>
            {{>headerContent}}
        </header>

        <main>
            {{>mainContent}}
        </main>

        <footer>
            <p>Created by:</p>
            <a id="criador" href="https://github.com/Marcos1701" title="acessar github">Marcos N. Santos</a>
        </footer>
    </div>

</body>

</html>